* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  
  .nav__links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  


/** This is the css for footer. It changes the colour of the background to add contrast. **/

footer{
    background-color: #ffffff;
}

body{
    background-color: #ffffff;
    
}

div{
    display: flex;
}

.center{
    position:absolute;
    top: 5%;
    width: 100%;
}


.brightbackground{
    background-color: #00b118;
}

.boldtitle{
    margin: 1% auto;
    width: 100%;
    padding: 50px 20%;
    text-align: center;
    font-size: 32px;
    font-family:'sans-serif', 'Arial Narrow', Arial;
    border-radius: 0px;
    justify-content: center;
}

.smalltext{
    font-size: small;
    text-align: center;
    font-family:'sans-serif', 'Arial Narrow', Arial;
    border-radius: 16px;
    width: 5%;
    margin: 1% auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    padding: 7px 10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

button {
    background-color: #ffffff;
    border: none;
}