* { 
    margin: 0;
}

/** This is the css for header. This is to change the background colour of the header. **/

header{
    background-color: #ffffff;

}

/** This is the css for footer. It changes the colour of the background to add contrast. **/

footer{
    background-color: #ffffff;
}

body{
    background-color: #ffffff;
    
}

div{
    display: flex;
}

.center{
    position:absolute;
    top: 5%;
    width: 100%;
}


#navBar a { 
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

#navBar { 
    display: flex;
    justify-content: center;
    
    
}

.brightbackground{
    background-color: #00b118;
}

.boldtitle{
    margin: 1% auto;
    width: 60%;
    text-align: center;
    font-size: 32px;  
    font-family:'sans-serif', 'Arial Narrow', Arial;
    border-radius: 32px;
}

.smalltext{
    font-size: small;
    text-align: center;
    font-family:'sans-serif', 'Arial Narrow', Arial;
    border-radius: 16px;
    width: 5%;
    margin: 1% auto;
}

