{% extends 'layout.html' %}
{% block content %}
<div class="boldtitle">       
<!DOCTYPE html>
<html>
<body align = "center">

<form action="/add_a_song" method="post">
        Song Name: <input type="text" name="name">
        Artist: <input type="text" name="artist">
        Album: <input type="text" name="album">
        <button type="button">
                <h3 class="btn">
                <a>Submit</a> 
                </h3>
        </button>
</form>


</body>
</html>
</div>
{% endblock %}
