{% extends 'layout.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<h2>{{message}}</h2>
{% endfor %}

<div class="boldtitle">       
<!DOCTYPE html>
<html>
<body align = "center">
        
<h2 class="boldtitle">Admin Login</h2>
<h5 class="smalltext">Please enter the correct password into the input field to access admin.</h5>
<br></br>

<form action="/admin/login" method="post">
        Password: <input type="text" name="password" required maxlength="20">
        <button>
                <h3 class="btn">
                <a>Submit</a> 
                </h3>
        </button> 
</form>


</body>
</html>
</div>
{% endblock %}